<div class="modal fade" id="view-drink-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content rounded">
      <div class="modal-header justify-content-end border-0 pb-0">
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <i class="ki-outline ki-cross fs-1"></i>
        </div>
      </div>
      <div class="modal-body pt-0 pb-15 px-5 px-xl-20">
        <div class="d-flex-justify-content-between">
          <div class="row">
            <div class="col-lg-12 d-flex flex-center">
              <div class="col-lg-6 d-flex align-items-center">
                <span class="fs-1 fw-bold">Drink Name / <a href="/">Category Name</a></span>
              </div>
              <div class="col-lg-6">
                <div class="row">
                  <div class="d-flex flex-end text-end">
                    <div class="col-lg-4">
                      <span class="fs-4 fw-bold"><span class="fw-semibold fs-4 text-gray-700">Glass:</span> <span class="fw-semibold fs-4 text-muted">type</span></span>
                    </div>
                    <div class="col-lg-4"><span class="fw-semibold fs-4 text-gray-700">Ice:</span> <span class="fw-semibold fs-4 text-muted">type</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="separator my-5"></div>
        <div class="d-flex flex-column">
          <div class="row mt-10">
            <div class="col-lg-12 d-flex flex-lg-row flex-md-column flex-sm-column">
              <div class="col-lg-3 d-flex flex-start">
                <div class="d-flex flex-column">
                  <div class="" style="width: fit-content">
                    <a class="d-block overlay" data-fslightbox="lightbox-basic" href="assets/media/stock/food/img-2.jpg">
                      <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" style="background-image: url('assets/media/stock/food/img-2.jpg')"></div>
                      <div class="overlay-layer card-rounded bg-dark bg-opacity-25 shadow"></div
                    ></a>
                  </div>
                  <div class="d-flex flex-column">
                    <div class="fw-semibold fs-5 mb-3">
                      <span class="badge badge-light-warning w-auto">🍹 Rum Based</span>
                      <span class="badge badge-light-danger w-auto">🌶️ Spicy</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 d-flex">
                <div class="tab-content rounded h-100 bg-light p-10 w-100">
                  <div class="tab-pane fade show active">
                    <div class="pb-5">
                      <span class="fs-3 fw-bold text-dark">Mixing Technique: <span class="text-muted fw-semibold">type</span></span>
                    </div>
                  </div>
                  <div class="pt-1">
                    <div class="table-responsive">
                      <table class="table table-row-bordered">
                        <thead>
                          <tr class="fw-bold fs-6 text-gray-800">
                            <th style="width: 90%">Ingredients</th>
                            <th style="width: 5%">Qty</th>
                            <th style="width: 5%">Availability</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Tiger Nixon</td>
                            <td>2</td>
                            <td class="text-center"><i class="ki-outline ki-check-circle fs-1 text-success"></i></td>
                          </tr>
                          <tr>
                            <td>Garrett Winters</td>
                            <td>1</td>
                            <td class="text-center"><i class="ki-outline ki-check-circle fs-1 text-success"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="separator my-2"></div>
                    <div class="pb-2">
                      <span class="fs-3 fw-bold text-dark">Top Up: <span class="text-muted fw-semibold">type</span></span>
                    </div>
                    <div class="separator my-2"></div>
                    <div class="pb-2">
                      <span class="fs-3 fw-bold text-dark">Garnish: <span class="text-muted fw-semibold">type</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="separator separator-content mt-6">Description</div>
            <div class="col-lg-12 d-flex mt-5">
              <div class="tab-content rounded h-100 bg-light p-3 w-100">
                <div class="">
                  <div class="d-flex align-items-center mb-4">
                    <span class="fw-semibold fs-6 text-gray-500 flex-grow-1">Up to 10 Active Users </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="separator separator-content mt-6">Notes</div>
            <div class="col-lg-12 d-flex mt-5">
              <div class="tab-content rounded h-100 bg-light p-3 w-100">
                <div class="">
                  <div class="d-flex align-items-center mb-4">
                    <span class="fw-semibold fs-6 text-gray-500 flex-grow-1">Με λένε ρίζο και όπως θέλω το γυρίζω </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-center flex-row-fluid p-12">
        <button type="reset" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
