.search-basic-resutls {
  border: 2px solid #f9f9f9;
  border-top: 0px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: white;
  z-index: 1111111111;
  position: relative;
}

.search-basic-input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.z-100 {
  z-index: 1111111111;
}
