<div class="d-flex flex-column flex-xl-row">
  <div class="d-flex flex-row-fluid me-xl-9 mb-10 mb-xl-0">
    <div class="card card-flush card-p-0 bg-transparent border-0">
      <div class="card-body">
        <div class="tns tns-default" style="direction: ltr">
          <!--begin::Slider-->
          <div data-tns="true" data-tns-swipe-angle="true" data-tns-speed="2000" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-touch="true" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev1" data-tns-next-button="#kt_team_slider_next1">
            <!--begin::Item-->
            <div class="text-center px-5 py-5">
              <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack p-4 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_2" style="width: 200px; height: auto">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="text-gray-800 fw-bold fs-2 d-block me-2">Classics</span>
                  <span class="text-gray-400 fw-semibold fs-7">(14)</span>
                </div>
              </a>
            </div>
            <div class="text-center px-5 py-5">
              <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack p-4 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_2" style="width: 200px; height: auto">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="text-gray-800 fw-bold fs-2 d-block me-2">Our Classics</span>
                  <span class="text-gray-400 fw-semibold fs-7">(14)</span>
                </div>
              </a>
            </div>
            <div class="text-center px-5 py-5">
              <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack p-4 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_2" style="width: 200px; height: auto">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="text-gray-800 fw-bold fs-2 d-block me-2">Signatures</span>
                  <span class="text-gray-400 fw-semibold fs-7">(14)</span>
                </div>
              </a>
            </div>
            <div class="text-center px-5 py-5">
              <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack p-4 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_2" style="width: 200px; height: auto">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="text-gray-800 fw-bold fs-2 d-block me-2">Aperitivos</span>
                  <span class="text-gray-400 fw-semibold fs-7">(14)</span>
                </div>
              </a>
            </div>
            <div class="text-center px-5 py-5">
              <a class="nav-link nav-link-border-solid btn btn-outline btn-flex btn-active-color-primary flex-column flex-stack p-4 page-bg" data-bs-toggle="pill" href="#kt_pos_food_content_2" style="width: 200px; height: auto">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="text-gray-800 fw-bold fs-2 d-block me-2">Others</span>
                  <span class="text-gray-400 fw-semibold fs-7">(14)</span>
                </div>
              </a>
            </div>

            <!--end::Item-->
            ...
          </div>
          <!--end::Slider-->

          <!--begin::Slider button-->
          <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev1">
            <span class="svg-icon fs-3x"> <i class="ki-duotone ki-left fs-3x"></i> </span>
          </button>
          <!--end::Slider button-->

          <!--begin::Slider button-->
          <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next1">
            <span class="svg-icon fs-3x"> <i class="ki-duotone ki-right fs-3x"></i> </span>
          </button>
          <!--end::Slider button-->
        </div>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="kt_pos_food_content_1">
            <div class="d-flex flex-wrap d-grid gap-5 gap-xxl-9">
              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#view-drink-modal">
                    <img src="assets/media/stock/food/img-2.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                    <div class="mb-2">
                      <div class="text-center">
                        <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">T-Bone Stake</span>
                        <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                      </div>
                    </div>

                    <span class="text-success text-end fw-bold fs-1">$16.50$</span>
                  </a>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-7.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chef’s Salmon</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$12.40$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-8.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Ramen</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$14.90$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-4.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chicken Breast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$9.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-10.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Tenderlion Steak</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$19.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-9.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Soup of the Day</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$7.50$</span>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="kt_pos_food_content_2">
            <div class="d-flex flex-wrap d-grid gap-5 gap-xxl-9">
              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-11.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Sweety</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$11.40$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-5.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Breakfast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$8.20$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-4.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chicken Breast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$9.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-8.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Ramen</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$14.90$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-10.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Tenderlion Steak</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$19.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-9.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Soup of the Day</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$7.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-3.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Pancakes</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$6.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-7.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chef’s Salmon</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$12.40$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-2.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">T-Bone Stake</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$16.50$</span>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="kt_pos_food_content_3">
            <div class="d-flex flex-wrap d-grid gap-5 gap-xxl-9">
              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-5.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Breakfast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$8.20$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-11.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Sweety</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$11.40$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-2.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">T-Bone Stake</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$16.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-7.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chef’s Salmon</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$12.40$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-4.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chicken Breast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$9.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-8.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Ramen</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$14.90$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-9.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Soup of the Day</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$7.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-10.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Tenderlion Steak</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$19.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-3.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Pancakes</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$6.50$</span>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="kt_pos_food_content_4">
            <div class="d-flex flex-wrap d-grid gap-5 gap-xxl-9">
              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-3.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Pancakes</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$6.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-5.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Breakfast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$8.20$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-4.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chicken Breast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$9.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-8.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Ramen</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$14.90$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-9.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Soup of the Day</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$7.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-11.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Sweety</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$11.40$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-3.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Pancakes</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$6.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-7.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chef’s Salmon</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$12.40$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-10.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Tenderlion Steak</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$19.00$</span>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="kt_pos_food_content_5">
            <div class="d-flex flex-wrap d-grid gap-5 gap-xxl-9">
              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-10.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Tenderlion Steak</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$19.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-5.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Breakfast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$8.20$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-4.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chicken Breast</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$9.00$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-3.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Pancakes</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$6.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-2.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">T-Bone Stake</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$16.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-7.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Chef’s Salmon</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$12.40$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-8.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Ramen</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$14.90$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-9.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Soup of the Day</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$7.50$</span>
                </div>
              </div>

              <div class="card card-flush flex-row-fluid p-6 pb-5 mw-100">
                <div class="card-body text-center">
                  <img src="assets/media/stock/food/img-11.jpg" class="rounded-3 mb-4 w-150px h-150px w-xxl-200px h-xxl-200px" alt="" />

                  <div class="mb-2">
                    <div class="text-center">
                      <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-3 fs-xl-1">Sweety</span>
                      <span class="text-gray-400 fw-semibold d-block fs-6 mt-n1">16 mins to cook</span>
                    </div>
                  </div>

                  <span class="text-success text-end fw-bold fs-1">$11.40$</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@@modals/view-drink-modal@@
